<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>收藏品商城</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
	</head>
	<body>
	<!-- start header -->
		<header>
			<div class="top center">
				<div class="left fl">
					<ul>
						<li><a href="/index" target="_blank">收藏品交易商城</a></li>
						<li>|</li>
						<li><a href="">COLLECTION</a></li>
						<li>|</li>
						<li><a href="/indexm">后台入口</a></li>
						<li>|</li>
						<!--<li><a href="">游戏</a></li>-->
						<!--<li>|</li>-->
						<!--<li><a href="">多看阅读</a></li>-->
						<!--<li>|</li>-->
						<!--<li><a href="">云服务</a></li>-->
						<!--<li>|</li>-->
						<!--<li><a href="">金融</a></li>-->
						<!--<li>|</li>-->
						<!--<li><a href="">小米商城移动版</a></li>-->
						<!--<li>|</li>-->
						<!--<li><a href="">问题反馈</a></li>-->
						<!--<li>|</li>-->
						<!--<li><a href="">Select Region</a></li>-->
						<div class="clear"></div>
					</ul>
				</div>
				<div class="right fr">
					<div class="gouwuche fr"><a href="/trade/cartPage">购物车</a></div>
					<div class="fr">
						<ul>
							<li><a href="/user/loginPage" target="_blank">登录</a></li>
							<li>|</li>
							<li><a href="/user/registerPage" target="_blank" >注册</a></li>
							<li>|</li>
							<li><a href="/user/self/info">个人中心</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
	<!--end header -->

<!-- start banner_x -->
		<div class="banner_x center">
			<!--<a href="index.html" target="_blank"><div class="logo fl"></div></a>-->
			<a href=""><div class="ad_top fl"></div></a>
			<div class="nav fl">
				<ul>
					<li><a href="/goods/list" target="_blank">商品浏览</a></li>
					<li><a href="/order/center" target="_blank">订单中心</a></li>
					<li><a href="">古玩</a></li>
					<li><a href="">数码</a></li>
					<li><a href="">车型</a></li>
					<li><a href="">书籍·漫画</a></li>
					<!--<li><a href="">路由器</a></li>-->
					<!--<li><a href="">智能硬件</a></li>-->
					<li><a href="">服务</a></li>
					<li><a href="">社区</a></li>
				</ul>
			</div>
			<div class="search fr">
				<form action="" method="post">
					<div class="text fl">
						<input type="text" class="shuru"  placeholder="">
					</div>
					<div class="submit fl">
						<input type="submit" class="sousuo" value="搜索"/>
					</div>
					<div class="clear"></div>
				</form>
				<div class="clear"></div>
			</div>
		</div>
<!-- end banner_x -->

	<!-- start banner_y -->
		<div class="banner_y center">
			<div class="nav">				
				<ul>
					<li>
						<a href="">腕表</a>
						<a href="">古董珍玩</a>
						<div class="pop">
							<div class="left fl">
								<div>
									<div class="xuangou_left fl">
										<a href="">
											<div class="img fl"><img src="../../static/imgs/wanbiao.jpg" style="width: 50px;height: 50px" alt=""></div>
											<span class="fl">男士腕表</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="/goods/detail/43" target="_blank">选购</a></div>
									<div class="clear"></div>
								</div>
								<div>
									<div class="xuangou_left fl">
										<a href="">
											<div class="img fl"><img src="../../static/imgs/honghonghuohuo.jpg" style="width: 50px;height: 50px" alt=""></div>
											<span class="fl">瓷器红红火火</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="/goods/detail/51">选购</a></div>
									<div class="clear"></div>
								</div>
								<div>
									<div class="xuangou_left fl">
										<a href="">
											<div class="img fl"><img src="../../static/imgs/muqin.jpg" style="width: 50px;height: 50px" alt=""></div>
											<span class="fl">青花瓷-母爱</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="/goods/detail/50">选购</a></div>
									<div class="clear"></div>
								</div>
								<div>
									<div class="xuangou_left fl">
										<a href="">
											<div class="img fl"><img src="../../static/imgs/zishahu.jpg"  style="width: 50px;height: 50px" alt=""></div>
											<span class="fl">紫砂壶</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="/goods/detail/52">选购</a></div>
									<div class="clear"></div>
								</div>

							</div>

							<div class="ctn fl">
							</div>
							<div class="right fl">
							</div>
							<div class="clear"></div>

						</div>
					</li>
					<li>
						<a href="">玩具模型</a>
						<a href="">书籍漫画</a>
						<div class="pop">
							<div class="left fl">
							</div>
							<div class="ctn fl">
							</div>
							<div class="clear"></div>
						</div>
					</li>
					<li>
						<a href="">老爷车</a>
						<a href="">摩托车</a>
						<div class="pop">
							<div class="left fl">
								<div>
									<div class="xuangou_left fl">
										<a href="">
											<div class="img fl"><img src="../../static/imgs/falali.jpg" style="width: 50px;height: 50px" alt=""></div>
											<span class="fl">法拉利跑车</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="/goods/detail/53">选购</a></div>
									<div class="clear"></div>
								</div>
								<div>
									<div class="xuangou_left fl">
										<a href="">
											<div class="img fl"><img src="../../static/imgs/car1.jpg" style="width: 50px;height: 50px" alt=""></div>
											<span class="fl">黄色老爷车</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="/goods/detail/54">选购</a></div>
									<div class="clear"></div>
								</div>

							</div>
							<div class="ctn fl">
							</div>
							<div class="right fl">
							</div>
							<div class="clear"></div>
						</div>
					</li>
					<li>
						<a href="">经典车型</a>
						<a href="">单车</a>
						<div class="pop">
							<div class="left fl">
							</div>
							<div class="ctn fl">
							</div>
							<div class="right fl">
							</div>
							<div class="clear"></div>
						</div>
					</li>
					<li>
						<a href="">艺术品</a>
						<a href="">钱币</a>
						<a href="">邮票</a>
						<div class="pop">
							<div class="left fl">
								<div>
									<div class="xuangou_left fl">
										<a href="">
											<div class="img fl"><img src="../../static/imgs/youpiao.jpg" style="width: 50px;height: 50px" alt=""></div>
											<span class="fl">荷兰邮票</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="/goods/detail/44">选购</a></div>
									<div class="clear"></div>
								</div>
								<div>
									<div class="xuangou_left fl">
										<a href="">
											<div class="img fl"><img src="../../static/imgs/zhibi.jpg" style="width: 50px;height: 50px" alt=""></div>
											<span class="fl">冬奥纸币</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="/goods/detail/45">选购</a></div>
									<div class="clear"></div>
								</div>
							</div>

							<div class="ctn fl">
							</div>
							<div class="right fl">
							</div>
							<div class="clear"></div>

						</div>
					</li>
					<li>
						<a href="">运动</a>
						<a href="">音乐</a>
						<div class="pop">
							<div class="left fl">
							</div>
							<div class="ctn fl">
							</div>
							<div class="right fl">
							</div>
							<div class="clear"></div>
						</div>
					</li>
					<li>
						<a href="">钻石</a>
						<a href="">宝石</a>
						<div class="pop">
							<div class="left fl">
							</div>							
							<div class="clear"></div>
						</div>
					</li>
					<li>
						<a href="">葡萄酒</a>
						<a href="">威士忌</a>
						<a href="">茅台</a>
						<div class="pop">
							<div class="left fl">
							</div>
							<div class="clear"></div>
						</div>
					</li>
					<li>
						<a href="">电脑</a>
						<a href="">手机</a>
						<a href="">照相机</a>
						<!--<a href="">眼镜</a>-->
						<div class="pop">
							<div class="left fl">
								<div>
									<div class="xuangou_left fl">
										<a href="">
											<div class="img fl"><img src="../../static/image/xm6_80.png" alt=""></div>
											<span class="fl">小米6</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="">选购</a></div>
									<div class="clear"></div>
								</div>
								<div>
									<div class="xuangou_left fl">
										<a href="">
											<div class="img fl"><img src="../../static/image/5c_80.png" alt=""></div>
											<span class="fl">小米手机5c</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="">选购</a></div>
									<div class="clear"></div>
								</div>
								<div>
									<div class="xuangou_left fl">
										<a href="">
											<div class="img fl"><img src="../../static/image/xmNOTE2-80.jpg" alt=""></div>
											<span class="fl">小米Note 2</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="">选购</a></div>
									<div class="clear"></div>
								</div>
								<div>
									<div class="xuangou_left fl">
										<a href="">
											<div class="img fl"><img src="../../static/image/MIX-80.jpg" alt=""></div>
											<span class="fl">小米MIX</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="">选购</a></div>
									<div class="clear"></div>
								</div>
								<div>
									<div class="xuangou_left fl">
										<a href="">
											<div class="img fl"><img src="../../static/image/MIX-80.jpg" alt=""></div>
											<span class="fl">小米5s</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="">选购</a></div>
									<div class="clear"></div>
								</div>
								<div>
									<div class="xuangou_left fl">
										<a href="">
											<div class="img fl"><img src="../../static/image/xm5Splus.jpg" alt=""></div>
											<span class="fl">小米5s Plus</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="">选购</a></div>
									<div class="clear"></div>
								</div>								
							</div>							
							<div class="clear"></div>
						</div>
					</li>
					<li>
						<a href="">考古</a>
						<a href="">自然历史</a>
						<div class="pop">
							<div class="left fl">
							</div>							
							<div class="clear"></div>
						</div>
					</li>
				</ul>
			</div>
		
		</div>	

		<div class="sub_banner center">
			<div class="sidebar fl">
				<div class="fl"><a href=""><img src="../../static/image/hjh_01.gif"></a></div>
				<div class="fl"><a href=""><img src="../../static/image/hjh_02.gif"></a></div>
				<div class="fl"><a href=""><img src="../../static/image/hjh_03.gif"></a></div>
				<!--<div class="fl"><a href=""><img src="../../static/image/hjh_04.gif"></a></div>-->
				<!--<div class="fl"><a href=""><img src="../../static/image/hjh_05.gif"></a></div>-->
				<!--<div class="fl"><a href=""><img src="../../static/image/hjh_06.gif"></a></div>-->
				<div class="clear"></div>
			</div>
			<div class="datu fl"><a href=""><img src="../../static/imgs/car1.jpg" alt=""></a></div>
			<div class="datu fl"><a href=""><img src="../../static/imgs/huxideng.jpg" alt=""></a></div>
			<div class="datu fr"><a href=""><img src="../../static/imgs/niaoqun.jpg" alt=""></a></div>
			<div class="clear"></div>


		</div>
	<!-- end banner -->
	<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>

	<!-- start danpin -->
		<div class="danpin center">
			
			<div class="biaoti center">热卖单件</div>
			<div class="main center">
				<div class="mingxing fl">
					<div class="sub_mingxing"><a href="/goods/detail/47"><img src="../../static/imgs/chunxiaqiudong.jpg" style="width: 180px;height: 180px;" alt=""></a></div>
					<div class="pinpai"><a href="">《春夏秋冬四条屏》</a></div>
					<div class="youhui">山东省美术家协会会员 徐凤秋《春夏秋冬四条屏》</div>
					<div class="jiage">500元起</div>
				</div>
				<div class="mingxing fl">
					<div class="sub_mingxing"><a href="/goods/detail/44"><img src="../../static/imgs/youpiao.jpg" style="width: 180px;height: 180px;" alt=""></a></div>
					<div class="pinpai"><a href="">1896年邮票</a></div>
					<div class="youhui">1896年荷兰久远值得珍藏的邮票</div>
					<div class="jiage">20元</div>
				</div>
				<div class="mingxing fl">
					<div class="sub_mingxing"><a href="/goods/detail/42"><img src="../../static/imgs/zhuozi.jpg" style="width: 180px;height: 180px;" alt=""></a></div>
					<div class="pinpai"><a href="">毕德麦雅桌子</a></div>
					<div class="youhui">毕德麦雅时期复古桌子，德国原产地</div>
					<div class="jiage">155元</div>
				</div>
				<div class="mingxing fl"> 	
					<div class="sub_mingxing"><a href="/goods/detail/46"><img src="../../static/imgs/juhua.jpg" style="width: 180px;height: 180px;" alt=""></a></div>
					<div class="pinpai"><a href="">张艳军-泼墨画《菊花》</a></div>
					<div class="youhui">中国书法家协会会员 张艳军国画《菊花》</div>
					<div class="jiage">600元</div>
				</div>
				<div class="mingxing fl">
					<div class="sub_mingxing"><a href="/goods/detail/43"><img src="../../static/imgs/wanbiao.jpg" style="width: 180px;height: 180px;" alt=""></a></div>
					<div class="pinpai"><a href="">男士精密腕表</a></div>
					<div class="youhui">自动机械 - 钢, 镀金, 陶瓷-指针腕表</div>
					<div class="jiage">200元起</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="peijian w">
			<div class="biaoti center">新品单件</div>
			<div class="main center">
				<div class="content">
					<div class="remen fl"><a href=""><img src="../../static/image/peijian1.jpg"></a>
					</div>
					<div class="remen fl">
						<div class="xinpin"><span>新品</span></div>
						<div class="tu"><a href="/goods/detail/51"><img src="../../static/imgs/honghonghuohuo.jpg" style="width: 150px;height: 150px;"></a></div>
						<div class="miaoshu"><a href="">瓷器红红火火</a></div>
						<div class="jiage">480元</div>
						<div class="pingjia">中国工艺美术大师 黄永平《红红火火》藕瓶</div>
						<div class="piao">
							<a href="">
								<span>发货速度很快</span>
								<span></span>
							</a>
						</div>
					</div>
					<div class="remen fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href="/goods/detail/50"><img src="../../static/imgs/muqin.jpg" style="width: 150px;height: 150px;"></a></div>
						<div class="miaoshu"><a href="">瓷器-王景林《母爱》</a></div>
						<div class="jiage">300元</div>
						<div class="pingjia">高级工艺美术师 王景林《母爱》</div>
					</div>
					<div class="remen fl">
						<div class="xinpin"><span style="background:red">新品</span></div>
						<div class="tu"><a href="/goods/detail/48"><img src="../../static/imgs/chun.jpg" style="width: 150px;height: 150px;"></a></div>
						<div class="miaoshu"><a href="">冯志光《春风》</a></div>
						<div class="jiage">450元</div>
						<div class="pingjia">国家一级书画师 冯志光《春风》</div>
						<div class="piao">
							<a href="">
								<span>发货速度很快</span>
								<span></span>
							</a>
						</div>
					</div>
					<div class="remen fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href="/goods/detail/53"><img src="../../static/imgs/falali.jpg" style="width: 150px;height: 150px;"></a></div>
						<div class="miaoshu"><a href="">法拉利跑车</a></div>
						<div class="jiage">20000元</div>
						<div class="pingjia">美国法拉利二手银色跑车经典车型</div>
						<div class="piao">
							<a href="">
								<span>发货速度很快！</span>
								<span></span>
							</a>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="content">
					<div class="remen fl"><a href=""><img src="../../static/image/peijian6.png"></a>
					</div>
					<div class="remen fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href="/goods/detail/55"><img src="../../static/imgs/yinyuehe.jpg" style="width: 150px;height: 150px;"></a></div>
						<div class="miaoshu"><a href="">音乐盒</a></div>
						<div class="jiage">50元</div>
						<div class="pingjia">音乐盒埃尔维斯普雷斯利</div>
						<div class="piao">
							<a href="">
								<span>发货速度很快！</span>
								<!--<span>来至于mi狼牙的评价</span>-->
							</a>
						</div>
					</div>
					<div class="remen fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href="/goods/detail/57"><img src="../../static/imgs/deng_diaoxiang.jpg" style="width: 150px;height: 150px;"></a></div>
						<div class="miaoshu"><a href="">灯雕像</a></div>
						<div class="jiage">60.0元</div>
						<div class="pingjia">灯雕像欧式风格</div>
					</div>
					<div class="remen fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href="/goods/detail/56"><img src="../../static/imgs/nv_diaoxiang.jpg" style="width: 150px;height: 150px;"></a></div>
						<div class="miaoshu"><a href="">比利时小女雕像</a></div>
						<div class="jiage">60元</div>
						<div class="pingjia">古铜色手工比利时小女雕像</div>
					</div>
					<div class="remenlast fr">
						<div class="hongmi"><a href=""><img src="../../static/image/hongmin4.png"  alt=""></a></div>
						<div class="liulangengduo"><a href=""><img src="../../static/image/liulangengduo.png" alt=""></a></div>
					</div>
					<div class="clear"></div>
				</div>				
			</div>
		</div>
		<!--<footer class="mt20 center">			-->
			<!--<div class="mt20">收藏品商城|COLLTCTION|隐私政策|Select Region</div>-->
			<!--<div>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号</div> -->
			<!--<div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>-->
		<!--</footer>-->
	</body>
</html>