<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collection.dao.GoodsParamCustDao">
    <resultMap id="GoodsParamCustMap" type="com.collection.eo.GoodsParamCust">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"></result>
        <result column="goods_param_id" property="goodsParamId" jdbcType="INTEGER"></result>
        <result column="goods_param_name" property="goodsParamName" jdbcType="VARCHAR"></result>
        <result column="detail" property="detail" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="DATE"></result>
        <result column="dr" property="dr" jdbcType="TINYINT"></result>
    </resultMap>

    <sql id="table">
        coll_goods_param_cust
    </sql>

    <sql id="filed">
        id,goods_id,goods_param_id,goods_param_name,detail,create_time,dr
    </sql>

    <insert id="addGoodsParamCust">
        INSERT INTO
        <include refid="table"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId!=null">goods_id,</if>
            <if test="goodsParamId!=null">goods_param_id,</if>
            <if test="goodsParamName!=null">goods_param_name,</if>
            <if test="detail!=null">detail,</if>
            <if test="dr!=null">dr,</if>
            <if test="createTime!=null">create_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId!=null">#{goodsId},</if>
            <if test="goodsParamId!=null">#{goodsParamId},</if>
            <if test="goodsParamName!=null">#{goodsParamName},</if>
            <if test="detail!=null">#{detail},</if>
            <if test="dr!=null">#{dr},</if>
            <if test="createTime!=null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateGoodsParamCust">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="goodsId!=null">goods_id=#{goodsId},</if>
            <if test="goodsParamId!=null">goods_param_id=#{goodsParamId},</if>
            <if test="goodsParamName!=null">goods_param_name=#{goodsParamName},</if>
            <if test="detail!=null">detail=#{detail},</if>
            <if test="dr!=null">dr=#{dr},</if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <update id="deleteGoodsParamCustById">
        UPDATE
        <include refid="table"/>
        <set>
            dr=1
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <delete id="deleteGoodsParamCustByGroup">
        UPDATE
        <include refid="table"/>
        <set>
            dr=1
        </set>
        <where>
            id IN
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <foreach collection="array" item="item">
                    #{item},
                </foreach>
            </trim>
        </where>
    </delete>

    <select id="selectGoodsParamCust" resultMap="GoodsParamCustMap">
        select
        <include refid="filed"/>
        from
        <include refid="table"/>
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="goodsId!=null">and goods_id=#{goodsId}</if>
            <if test="goodsParamId!=null">and goods_param_id=#{goodsParamId}</if>
            <if test="goodsParamName!=null">and goods_param_name=#{goodsParamName}</if>
            <if test="detail!=null">and detail=#{detail}</if>
            <if test="createTime!=null">and create_time=#{createTime}</if>
            and dr=0
        </where>
    </select>

    <select id="queryGoodsParamCust" resultMap="GoodsParamCustMap">
        select
        <include refid="filed"/>
        from
        <include refid="table"/>
        <where>
            <if test="id!=null">id like CONCAT('%',#{id},'%')</if>
            <if test="goodsId!=null">and goods_id like CONCAT('%',#{goodsId},'%')</if>
            <if test="goodsParamId!=null">and goods_param_id like CONCAT('%',#{goodsParamId},'%')</if>
            <if test="goodsParamName!=null">and goods_param_name like CONCAT('%',#{goodsParamName},'%')</if>
            <if test="detail!=null">and detail like CONCAT('%',#{detail},'%')</if>
            <if test="createTime!=null">and create_time like CONCAT('%',#{createTime},'%')</if>
            and dr=0
        </where>
    </select>


    <select id="selectGoodsParamCustByGoodsId" resultMap="GoodsParamCustMap" parameterType="java.lang.Integer">
        select
        <include refid="filed"/>
        from
        <include refid="table"/>
        where
        goods_id = #{goodsId,jdbcType=INTEGER}
        and dr=0
    </select>
</mapper>