<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" href="../../static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../static/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <div class="page-header">
        <nav class="navbar page-header">
            <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
                <i class="fa fa-bars"></i>
            </a>

            <a class="navbar-brand" href="#">
                <img src="../../static/imgs/logo.png" alt="logo">
            </a>

            <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
                <i class="fa fa-bars"></i>
            </a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-md-down-none">
                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-danger">5</span>
                    </a>
                </li>

                <li class="nav-item d-md-down-none">
                    <a href="#">
                        <i class="fa fa-envelope-open"></i>
                        <span class="badge badge-pill badge-danger">5</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="../../static/imgs/avatar-1.png" class="avatar avatar-sm" alt="logo">
                        <span class="small ml-1 d-md-down-none">John Smith</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header">Account</div>

                        <a href="#" class="dropdown-item">
                            <i class="fa fa-user"></i> Profile
                        </a>

                        <a href="#" class="dropdown-item">
                            <i class="fa fa-envelope"></i> Messages
                        </a>

                        <div class="dropdown-header">Settings</div>

                        <a href="#" class="dropdown-item">
                            <i class="fa fa-bell"></i> Notifications
                        </a>

                        <a href="#" class="dropdown-item">
                            <i class="fa fa-wrench"></i> Settings
                        </a>

                        <a href="#" class="dropdown-item">
                            <i class="fa fa-lock"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">Navigation</li>

                    <li class="nav-item">
                        <a href="/indexm" class="nav-link">
                            <i class="icon icon-speedometer"></i> 首页
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-target"></i> 用户管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/user/select" class="nav-link">
                                    <i class="icon icon-target"></i> 用户信息
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/userColl/select" class="nav-link">
                                    <i class="icon icon-target"></i> 用户收藏
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="icon icon-target"></i> 用户地址
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="icon icon-target"></i> 管理员
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> 商品管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/addGoodsManagePage" class="nav-link">
                                    <i class="icon icon-energy"></i> 添加商品
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/goods/select" class="nav-link">
                                    <i class="icon icon-energy"></i> 商品信息
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/goodsParam/select" class="nav-link">
                                    <i class="icon icon-energy"></i> 参数管理
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="icon icon-energy"></i> 商品评论
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="icon icon-energy"></i> 商品问答
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-graph"></i> 分类管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/classParent/select" class="nav-link">
                                    <i class="icon icon-graph"></i> 商品分类
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-graph"></i> 订单管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/order/select" class="nav-link active">
                                    <i class="icon icon-graph"></i> 订单信息
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/order/pay/select" class="nav-link">
                                    <i class="icon icon-graph"></i> 支付历史
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-graph"></i> 内容管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/ad/select" class="nav-link">
                                    <i class="icon icon-graph"></i> 广告管理
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-light">
                            订单表格
                        </div>
                        <form action="/order/select">
                            订单号：<input type="text" name="orderNumber" />
                            <!--用户名：<input type="text" name="buyer.username"/>-->
                            <select name="payStatus">
                                <option></option>
                                <option value="0">未付款</option>
                                <option value="1">已付款</option>
                            </select>
                            <button type="submit">搜索</button>
                        </form>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th hidden="true">id</th>
                                        <th>唯一订单号</th>
                                        <th>用户</th>
                                        <th>订单状态</th>
                                        <th>交易状态</th>
                                        <th>订单金额</th>
                                        <th>交易金额</th>
                                        <th>买家留言</th>
                                        <th>创建时间</th>
                                        <!--<th>操作</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="ob:${context.data.list}" >
                                        <td th:text="${ob.id}" hidden="true"></td>
                                        <td th:text="${ob.orderNumber}"></td>
                                        <td th:text="${ob.buyer.username}"></td>
                                        <td th:switch="${ob.tradeStatus}"><p th:case="0">已提交</p><p th:case="1">已结算</p><p th:case="2">已取消</p><p th:case="3">已完成</p></td>
                                        <td th:switch="${ob.payStatus}"><p th:case="0">未付款</p><p th:case="1">已付款</p></td>
                                        <td th:text="${ob.orderAmount}"></td>
                                        <td th:text="${ob.payAmount}"></td>
                                        <td th:text="${ob.remark}"></td>
                                        <td th:text="${ob.createTime}"></td>
                                        <!--<td><a th:href="@{/userColl/delete/{id}(id=${ob.id})}"><button type="button" class="btn btn-default">删除</button></a></td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 column">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" th:href="@{/order/select/?pageSize=10&&pageNum={pre}(pre=${context.data.prePage})}">上一页</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{/order/select/?pageSize=10&&pageNum={pre}(pre=${context.data.prePage})}" th:text="${context.data.prePage}"></a></li>
                                <li class="page-item active"><a class="page-link" th:text="${context.data.pageNum}"></a></li>
                                <li class="page-item"><a class="page-link" th:href="@{/order/select/?pageSize=10&&pageNum={next}(next=${context.data.nextPage})}" th:text="${context.data.nextPage}"></a></li>
                                <li class="page-item"><a class="page-link" th:href="@{/order/select/?pageSize=10&&pageNum={next}(next=${context.data.nextPage})}">下一页</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 column ">
                            <div style="width:400px;height:100px;position:relative;">
                                <div style="width:400px;height:90px;margin: auto;  position: absolute;  top: 0; left: 0; bottom: 0; right: 0;">
                                    <p>
                                    <form action="/order/select">
                                        <span>第</span>
                                        <input type="text" size="1" th:value="${context.data.pageNum}" name="pageNum">
                                        <input type="text" size="1" value="10" name="pageSize" hidden="true">
                                        <span>页</span>
                                        <button type="submit" class="btn btn-default">确定</button>
                                        <span th:text="'共'+${context.data.total}+'条'"></span>
                                    </form>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script src="../../static/vendor/jquery/jquery.min.js"></script>
<script src="../../static/vendor/popper.js/popper.min.js"></script>
<script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/vendor/chart.js/chart.min.js"></script>
<script src="../../static/js/carbon.js"></script>
<script src="../../static/js/demo.js"></script>
</body>
</html>
