<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" href="../static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="/index">
            <img src="../static/imgs/logo.png" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger"></span>
                </a>
            </li>

            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-envelope-open"></i>
                    <span class="badge badge-pill badge-danger"></span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../static/imgs/avatar-1.png" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none">John Smith</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Account</div>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-user"></i> Profile
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope"></i> Messages
                    </a>

                    <div class="dropdown-header">Settings</div>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-bell"></i> Notifications
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-wrench"></i> Settings
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">Navigation</li>

                    <li class="nav-item">
                        <a href="/indexm" class="nav-link active">
                            <i class="icon icon-speedometer"></i> 首页
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-target"></i> 用户管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/user/select" class="nav-link">
                                    <i class="icon icon-target"></i> 用户信息
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/userColl/select" class="nav-link">
                                    <i class="icon icon-target"></i> 用户收藏
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="icon icon-target"></i> 用户地址
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="icon icon-target"></i> 管理员
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> 商品管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/addGoodsManagePage" class="nav-link">
                                    <i class="icon icon-energy"></i> 添加商品
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/goods/select" class="nav-link">
                                    <i class="icon icon-energy"></i>  商品信息
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/goodsParam/select" class="nav-link">
                                    <i class="icon icon-energy"></i> 参数管理
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="tabs.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 商品评论
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="progress-bars.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 商品问答
                                </a>
                            </li>

                            <!--<li class="nav-item">-->
                                <!--<a href="widgets.html" class="nav-link">-->
                                    <!--<i class="icon icon-energy"></i> Widgets-->
                                <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-graph"></i> 分类管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/classParent/select" class="nav-link">
                                    <i class="icon icon-graph"></i> 商品分类
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-graph"></i> 订单管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/order/select" class="nav-link">
                                    <i class="icon icon-graph"></i> 订单信息
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/order/pay/select" class="nav-link">
                                    <i class="icon icon-graph"></i> 支付历史
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-graph"></i> 内容管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/ad/select" class="nav-link">
                                    <i class="icon icon-graph"></i> 广告管理
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="h4 d-block font-weight-normal mb-2">15</span>
                                    <span class="font-weight-light">用户</span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-people"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="h4 d-block font-weight-normal mb-2">36</span>
                                    <span class="font-weight-light">商品</span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-wallet"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="h4 d-block font-weight-normal mb-2">7</span>
                                    <span class="font-weight-light">订单</span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-cloud-download"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="h4 d-block font-weight-normal mb-2">$2,400</span>
                                    <span class="font-weight-light">交易额</span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-clock"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="row ">-->
                    <!--<div class="col-md-12">-->
                        <!--<div class="card">-->
                            <!--<div class="card-header">-->
                                <!--Total Users-->
                            <!--</div>-->

                            <!--<div class="card-body p-0">-->
                                <!--<div class="p-4">-->
                                    <!--<canvas id="line-chart" width="100%" height="20"></canvas>-->
                                <!--</div>-->

                                <!--<div class="justify-content-around mt-4 p-4 bg-light d-flex border-top d-md-down-none">-->
                                    <!--<div class="text-center">-->
                                        <!--<div class="text-muted small">Total Traffic</div>-->
                                        <!--<div>12,457 Users (40%)</div>-->
                                    <!--</div>-->

                                    <!--<div class="text-center">-->
                                        <!--<div class="text-muted small">Banned Users</div>-->
                                        <!--<div>95,333 Users (5%)</div>-->
                                    <!--</div>-->

                                    <!--<div class="text-center">-->
                                        <!--<div class="text-muted small">Page Views</div>-->
                                        <!--<div>957,565 Pages (50%)</div>-->
                                    <!--</div>-->

                                    <!--<div class="text-center">-->
                                        <!--<div class="text-muted small">Total Downloads</div>-->
                                        <!--<div>957,565 Files (100 TB)</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/popper.js/popper.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/vendor/chart.js/chart.min.js"></script>
<script src="../static/js/carbon.js"></script>
<script src="../static/js/demo.js"></script>
</body>
</html>
